@page "/todo"
@rendermode InteractiveServer

<PageTitle>TODO</PageTitle>

<h3>TODO</h3>
<div>Запланировано: (@tasks.Count(task => !task.DONE))</div>
<div>Выполнено: (@tasks.Count(task => task.DONE))</div>
<input type="text" placeholder="Новая задача" @bind="task"/>
<button @onclick="AddTask">Добавить</button>
<span class="complete-task">Complete task</span>

@* <ul>
    @foreach(TODOitem i in tasks)
    {
        <li>
            <input type="checkbox" @bind="i.DONE"/>
            <span class=@(i.DONE?"complete-task":"")> @i.Title</span>
        </li>        
    }
</ul> *@
<div class="box">
    <div class="todo">
        <h1 style="font-size:50px">TODO</h1>
        <ul>
            @foreach (TODOitem i in tasks.Where(task => !task.DONE))
            {
                <li>
                    <input type="checkbox" @bind="i.DONE" />
                    <span> @i.Title</span>
                </li>
            }
        </ul>
    </div>
    <div class="done">
        <h1 style="font-size:50px">DONE</h1>
        <ul>
            @foreach (TODOitem i in tasks.Where(task => task.DONE))
            {
                <li>
                    <input type="checkbox" @bind="i.DONE" />
                    <span> @i.Title</span>
                </li>
            }
        </ul>
    </div>

</div>

@code {
    private List<TODOitem> tasks = [];
    private string? task;
    private void AddTask()
    {
        if(!string.IsNullOrWhiteSpace(task))
        {
            tasks.Add(new TODOitem { Title = task });
            task = string.Empty;
        }
    }
}
